{% extends "navigation.html" %}
{% block srv_active %}active{% endblock %}
{% block title %}Servers{% endblock %}
{% block content %}
    {% if message %}
    <div class="toast-pf toast-pf-max-width toast-pf-top-right alert alert-success alert-dismissable">
        {{ message | safe }} 
    </div>
    {%  endif %}
    <div id="inputform" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Server</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="createserver" method="POST">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="modalInput">Pool Name</label>
                <div class="col-sm-8">
                    <select type="text" name="pool_name" id="pool_name" onchange="showInput()">  
                      <option selected disabled hidden style='display: none' value=''></option>
                        {% if pool_list is defined %}
                            {% for item in pool_list %}
                                <option  value="{{item}}">{{item}}</option>
                            {% endfor %}
                       {% else %}
                          <option value="auto_select">Auto Select</option>
                       {% endif %}
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" >Server Name</label>
                <div class="col-sm-8">
                  <input type="text"  name="server_name" id="server_name" class="form-control" ></div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" >Memory</label>
                <div class="col-sm-8">
                  <input type="text" name="mem_size" id="mem_size" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" >CPU</label>
                <div class="col-sm-8">
                  <input type="text" name="cpu_count" id="cpu_count" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" >Server Role</label>
                <div class="col-sm-8">
                      <label ><input type="checkbox" value="mysql_role" name="mysql_role"> Mysql </label>
                      <label ><input type="checkbox" value="postgres_role" name="postgres_role" > Postgres </label>  
                      <label ><input type="checkbox" value="oracle_role" name="oracle_role"> Oracle </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label" >Networking </label>
                <div class="col-sm-8">
                      <label ><input type="checkbox" value="dhcp" name="dhcp"> DHCP </label>
                      <label ><input type="checkbox" value="static" name="static" onchange="showstaticform(this)"> Static </label>
                          <div id ="static" class="form-group" style='display: none'>
                            <label class="col-sm-4 control-label" >IP adddress</label>
                            <div class="col-sm-8">
                              <input type="text" name="ipaddr" id="ipaddr" class="form-control">
                            </div>
                            <label class="col-sm-4 control-label" >Subnet</label>
                            <div class="col-sm-8">
                              <input type="text" name="subnet" id="subnet" class="form-control">
                            </div>
                            <label class="col-sm-4 control-label" >Gateway</label>
                            <div class="col-sm-8">
                              <input type="text" name="gateway" id="gateway"  onkeyup="dnssync()" class="form-control">
                            </div>
                            <label class="col-sm-4 control-label" >Dns Server</label>
                            <div class="col-sm-8">
                              <input type="text" name="dns1" id="dns1" class="form-control">
                            </div>
                          </div>
                </div>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="showForm('none')">Close</button>
            <button type="submit" class="btn btn-primary">Create Server</button>
          </div>
        </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% if servers_list is defined %}
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg" type="button" onclick="showForm('block')"> Create New {{ self.title() }} </button> 
  </div>
    <div class="container-fluid">
    <div class="list-group list-view-pf list-view-pf-view">
        <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input type="checkbox">
            </div>
            <div class="list-view-pf-actions">
              <div class="dropdown pull-right dropdown-kebab-pf">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="fa fa-server list-view-pf-icon-sm"></span>
                </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                                <u>Server Name </u>
                            </div>
                            <div class="list-group-item-text">
                                <u>Pool Name </u>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

       {% for server in servers_list %}
          <div class="list-group-item">
            <div class="list-view-pf-checkbox">
              <input type="checkbox">
            </div>
                 <div class="list-view-pf-actions">
                 <div class="dropdown pull-right dropdown-kebab-pf">
                   <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   <span class="fa fa-ellipsis-v"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                    <li><a href="#">Restart</a></li>
                    <li><a href="/databases">Create Database</a></li>
                    <li><a href="#">Shutdown</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                </div>
              </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="pficon pficon-container-node"></span>
              </div>
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    <a href="/servers/{{server.serverid}}">{{server.servername}}</a>
                  </div>
                  <div class="list-group-item-text">
                    <a href="/pools/{{server.poolid}}">{{server.poolname}}</a>
                  </div>
              </div>
                <div class="list-view-pf-additional-info">
                  <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart">
                      <span id="donut-chart-5"></span>
                      <strong>{{ range(1, 51) | random }}%</strong> CPU
                  </div>
                  <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart">
                      <span id="donut-chart-6"></span>
                      <strong>{{ range(1, 80) | random }}%</strong>Mem
                  </div>
                  <div class="list-view-pf-additional-info-item list-view-pf-additional-info-item-donut-chart">
                      <span id="donut-chart-7"></span>
                      <strong> {{ range(25, 150) | random }}GB</strong> Storage
                  </div>
                </div>
          </div>
    </div>
{% endfor %}
</div>
{% else %}
    <div class="blank-slate-pf">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
      </div>
      <h1>
        None 
      </h1>
      <p>
        Please create a new {{ self.title() }} 
      </p>
      <p>
        Learn more about this <a href="#">on the documentation</a>.
      </p>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-primary btn-lg" type="button" onclick="showForm('block')"> Create New {{ self.title() }} </button> 
      </div>
    </div>
{% endif %}
</div>
{% endblock %}


{% block scripts %}
    <script>
    // Initialize Datatables
        function showForm(action){
            document.getElementById('inputform').style.display = action;
        }
    function showstaticform(element){
                if (element.checked){
                document.getElementById('static').style.display = 'block';
                }
                else{
                    document.getElementById('static').style.display = 'none';
                }
        }
    function showdnsform(element){
                if (element.checked){
                document.getElementById('dns1').style.display = 'block';
                }
                else{
                    document.getElementById('dns1').style.display = 'none';
                }
        }
    function dnssync()
    {
      var n1 = document.getElementById('gateway');
      var n2 = document.getElementById('dns1');
      n2.value = n1.value;
    }
    </script>
{% endblock %}
